/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

body {
	background-color: #e8e8e8;
	width: 700px;
	height: 500px;
	margin: 0px auto;
}

.block {
	margin-top: 190px;
}

.list li {
	display: block;
	width: 740px;
	font-size: 20px;
	margin: 0px auto;
	color: #273d46;
	font-family: "Arial MT";
	line-height: 36px;
	background: url('../img/icon.png') left 8px no-repeat;
	padding: 0px 0px 0px 30px;
}

.list li:nth-child(1) {
	text-decoration: line-through;
}

.list li:nth-child(2) {
	font-weight: bold;
}

.list li:nth-child(3) {
	font-style: italic;
}

.list li:nth-child(4) {
	text-transform: uppercase;
}

.list li:nth-child(2):hover {
	color:red;
	background: url('../img/check_icon.png') left 8px no-repeat;
}

.list li:hover {
	text-decoration: none;
	font-weight: 400;
	font-style: normal;
	text-transform: none;
}

.button__check {
	display: block;
	width: 199px;
	height: 44px;
	background: #80b7b3;
	border-radius: 25px;
	box-shadow: 0 6px 40px rgba(128, 183, 179, 0.54);
	margin-top: 100px;
	margin-left: 20px;
}

.button__check:hover {
	background-color: #3a5856;
}

.button__check:active {
	background-color: #818181;
}

.fs {
	text-transform: uppercase;
	color: #ffffff;
	font-family: "Arial MT";
	font-size: 14px;
	letter-spacing: 2.8px;
}

.fs__img {
	margin: 0px 0px 0px 10px;
	opacity: 0.8;
}

.textinput {
	display: block;
	width: 292px;
	height: 50px;
	border: 1px solid #b0b0b0;
	margin-top: 100px;
}

.textinput:focus {
	box-shadow: 0 0 20px rgba(127, 190, 213, 0.93);
}
