/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

body {
	background-color: #3f3f3f;
	width: 700px;
	margin: 0px auto;
	height: 500px;
}

header {
	width: 700px;
	height: 200px;
	background-color: #80b7b3;
	margin: 25px auto;
	border-top-right-radius : 25px;
	border-top-left-radius : 25px;
}

.header__logo {
	display: block;
	font-size: 35px;
	color: #ffffff;
	text-align: center;
	padding: 80px 0px 0px 0px;
	text-shadow: 1px 1px 2px black;
}

.header__text {
	display: block;
	font-size: 15px;
	color: #ffffff;
	text-align: right;
	padding: 45px 13px 0px 0px;
	text-shadow: 1px 1px 2px black;
}

.button__check {
	display: block;
	width: 700px;
	height: 50px;
	background: #59c42f;
	box-shadow: 0 6px 40px rgba(128, 183, 179, 0.54);
}

.button__check:hover {
	background-color: #3a5856;
}

.button__check:active {
	background-color: #818181;
}

.fs {
	text-transform: uppercase;
	color: #ffffff;
	font-family: "Arial MT";
	font-size: 14px;
	letter-spacing: 2.8px;
}

.copyright {
	display: block;
	text-transform: uppercase;
	color: #ffffff;
	font-family: "Arial MT";
	font-size: 14px;
	letter-spacing: 2.8px;
	text-align: center;
	padding: 18px;
}

footer {
	display: block;
	width: 700px;
	height: 50px;
	background-color: #80b7b3;
	margin: 25px auto;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
}

footer a {
	color: #ffffff;
}

footer a:hover {
	text-shadow: 1px 1px 2px black;
}


footer a:active {
	text-shadow: 1px 1px 2px black;
	color: #818181;
}